#single-entry-content {
  :where(h2, h3, h4):not(:where([class~="not-prose"] *)) {
    @apply scroll-mt-10 lg:scroll-mt-24;
  }

  iframe {
    @apply max-w-full;
  }
}

.not-prose {
  @apply text-base font-normal text-neutral-900 dark:text-neutral-100;
}


.text-link-color {
  color: #1d53b5;
}

.text-link-color:hover {
  text-decoration: underline;
}

.prose :where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

// h1 {
//   font-size: 44px;
// }

// h2 {
//   font-size: 26px;
// }

// h3 {
//   font-size: 22px;
// }

h1, h2, h3 {
  font-weight: 700;
  line-height: 1.2;
}

a {
  width: fit-content;
}

.review-item-image {
  box-shadow: inset 0 0 80px #fbedd2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
}

.review-item-image img {
  mix-blend-mode: darken;
}

.product-content h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 1em 0;
}

.product-content h3:not(:first-child) {
  margin-top: 2em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.product-content ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  margin-left: 30px;
}

.product-content ul li {
  list-style-type: circle;
}

.product-content p a {
  color: rgb(32, 26, 206);
  text-decoration: underline;
}

#single-content table {
  width: 100%;
}

#single-content table th, .single-content table td {
  font-size: 16px !important;
}

.wp-block-table {
  max-width: 100%;
  overflow-x: auto;
  border-radius: 4px;
  box-shadow: inset -5px 0 15px -3px rgba(0, 0, 0, 0.3);
}

table {
  font-size: 16px;
}

table th, table td {
  font-size: 16px !important;
  padding: 8px 16px !important;
  border: 1px solid #d7dee4;
}

table td {
  min-width: 150px;
}

table td:first-child {
  position: sticky;
  left: 0;
  background-color: #edf5fc;
  font-weight: bold;
  min-width: 230px;
  box-shadow: 5px 0 5px -3px rgba(0, 0, 0, 0.3);
}

table td:first-child  a {
  text-decoration: none;
}


.wp-block-table::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.wp-block-table::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.wp-block-table::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.wp-block-table::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.wp-block-table {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) #f1f1f1;
}


@media (min-width: 1299px) {
  .hide-desktop {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  table td:first-child {
    min-width: 180px;
  }
}